<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes-ph</title>
</head>
<body>
    <h1>Edith Clarke</h1>
    <img src="/img/Edith Clarke.jpg" style="width:20%" alt="/public">
    <h2>¿Quién era?</h2>
    <p>Edith Clarke (Howard, 10 de febrero de 1883 - Maryland, 29 de octubre de 1959) fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin (Estados Unidos). Se especializó en análisis de sistemas de energía eléctrica y escribió el manual Circuit Analysis of A-C Power Systems.</p>
    <p>Clarke fue la primera ingeniera en conseguir un puesto profesional en la sociedad de honor de ingenieros más antigua de Estados Unidos, Tau Beta Pi. En 1948, se convirtió en la primera Socia del Instituto Americano de Ingenieros Eléctricos. En 1954, recibió también el Premio al Logro de la organización sin ánimo de lucro Society of Women Engineers. En 2015, Clarke fue incluida a título póstumo en el Salón de la Fama Nacional de los Inventores.</p>
</body>
</html>