<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes-ph</title>
</head>
<body>
    <H1>Heroes</H1>
    <h3>Aqui presentamos un grupo de personas que, entre sus grandes logros, aportaron significativamente al crecimiento en el ámbito de la programación.</h3>
    <h2>¡Acompañame a conocerlos! ellos son:</h2>
    <nav>
        <ul>
            <li><a href="/babbage">Charles Babbage</a></li>
            <li><a href="/berners-lee">Tim Berners-lee</a></li>
            <li><a href="/clarke">Edith Clarke</a></li>
            <li><a href="/hamilton">Margaret Hamilton</a></li>
            <li><a href="/hopper">Grace Murray Hopper</a></li>
            <li><a href="/lovelace">Ada Lovelace</a></li>
            <li><a href="/turing">Alan Turing</a></li>
        </ul>
    </nav>
</body>
</html>